@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

body {
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Labrada", serif;
  font-size: 26px;
}

h1,
h2 {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.me_img {
  height: 350px;
  width: auto;
}

a:link {
  color: rgb(0, 255, 208);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(253, 133, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 247, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
